.container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background: none;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
}

.icon {
    height: 18px;
    width: auto;
    border-radius: 2px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}
