
.search {
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid #fff;
    padding: 0 5px;
    cursor: text; 
    width: 100%;
    flex: 0 1 550px;
    transition: all 0.2s ease-in-out;
}

.backButton {
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

@media (max-width: 930px) {
    .search {
        border: none;
        width: 45px;
        flex: none;
        background: transparent;
        padding: 0;
        margin-left: auto;
    }

    .search .inputContainer, 
    .search .clearButton {
        display: none;
    }

    .search.mobile-open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px; 
        background: #4518AC;
        z-index: 1000;
        display: flex;
        padding: 0 10px;
        border: none;
    }

    .search.mobile-open .backButton {
        display: flex;
    }

    .search.mobile-open .inputContainer {
        display: block;
        flex: 1;
    }

    .search.mobile-open .clearButton {
        display: flex;
    }

    .search.mobile-open .searchIcon {
        display: none;
    }
}

.iconWrapper {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.inputContainer {
    flex: 1;
    height: 100%;
}

.searchInput {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.clearButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #b3aac9;
}

.clearButton:hover {
    color: #fff;
}