* {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

:root {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;

    line-height: 1.5;

    color: rgba(255, 255, 255, 0.87);
    background-color: #4518ac;
}

body {
    margin: 0;
    margin-bottom: 5rem;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.mainPage {
    padding-top: 80px;
}

@media (max-width: 930px) {
    .mainPage {
        padding-top: 0;
    }
}
